<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OBSChampionScreen.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <OBSChampionScreen.My.MySettings>
            <setting name="imgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="imageFormat" serializeAs="String">
                <value>PNG</value>
            </setting>
            <setting name="hintergrundbild" serializeAs="String">
                <value>./Resources/morgana_vs_ahri_2.jpg</value>
            </setting>
            <setting name="teamData" serializeAs="String">
                <value>./Resources/teams.xml</value>
            </setting>
            <setting name="errorMessages" serializeAs="String">
                <value>./</value>
            </setting>
        </OBSChampionScreen.My.MySettings>
    </userSettings>
</configuration>
